<section>
  <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-form-field>
      <input type="email" placeholder="Your email" matInput formControlName="email">
      <mat-error *ngIf="loginForm.get('email')?.errors?.required">Field must not be empty</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" placeholder="Your password" matInput formControlName="password">
      <mat-error *ngIf="loginForm.get('password')?.errors?.required">Field must not be empty</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid || (uiService.loadingChange | async)">Login</button>
  </form>
</section>